//// Proxima Nova Rg
//@import 'etc/my-fonts/Proxima-Nova-Rg400.styl'
//@import 'etc/my-fonts/Proxima-Nova-Rg700.styl'

//// HelveticaNeueCyr
//@import 'etc/my-fonts/Helvetica-Neue-Cyr400.styl'
//@import 'etc/my-fonts/Helvetica-Neue-Cyr700.styl'

//// FuturisXC
//@import 'etc/my-fonts/FuturisXC400.styl'

//// FuturisXCondC
//@import 'etc/my-fonts/FuturisXCondC400.styl'

//// FuturaDemiC
//@import 'etc/my-fonts/FuturaDemiC400.styl'

//// LetoSans
//@import 'etc/my-fonts/LetoSans400.styl'
//@import 'etc/my-fonts/LetoSans700.styl'

//// LetoSansCondensed
//@import 'etc/my-fonts/LetoSansCondensed400.styl'

//// SFUIDisplay
//@import 'etc/my-fonts/SFUIDisplay400.styl'
//@import 'etc/my-fonts/SFUIDisplay500.styl'
//@import 'etc/my-fonts/SFUIDisplay700.styl'

//// Circe
//@import 'etc/my-fonts/Circe400.styl'
//@import 'etc/my-fonts/Circe700.styl'
//@import 'etc/my-fonts/Circe800.styl'

//// Roboto
//@import 'etc/my-fonts/Roboto300.styl'
//@import 'etc/my-fonts/Roboto400.styl'
//@import 'etc/my-fonts/Roboto500.styl'
//@import 'etc/my-fonts/Roboto700.styl'

//// MyriadPro
//@import 'etc/my-fonts/MyriadPro400.styl'
//@import 'etc/my-fonts/MyriadPro700.styl'

//// RotondaC
//@import 'etc/my-fonts/RotondaC400.styl'
//@import 'etc/my-fonts/RotondaC700.styl'

//// Medieval
//@import 'etc/my-fonts/Medieval700.styl'

//// Gill-Sans-Nova
//@import 'etc/my-fonts/Gill-Sans-Nova300.styl'
//@import 'etc/my-fonts/Gill-Sans-Nova400.styl'
//@import 'etc/my-fonts/Gill-Sans-Nova500.styl'
//@import 'etc/my-fonts/Gill-Sans-Nova600.styl'
//@import 'etc/my-fonts/Gill-Sans-Nova900.styl'

//// Open Sans
//@import 'etc/my-fonts/Open-Sans300.styl'
//@import 'etc/my-fonts/Open-Sans400.styl'
//@import 'etc/my-fonts/Open-Sans600.styl'
//@import 'etc/my-fonts/Open-Sans800.styl'

//// Lato
//@import 'etc/my-fonts/Lato900.styl'

//// Muller
//@import 'etc/my-fonts/Muller300.styl'
@import 'etc/my-fonts/Muller400.styl'
//@import 'etc/my-fonts/Muller500.styl'
@import 'etc/my-fonts/Muller700.styl'
//@import 'etc/my-fonts/Muller900.styl'

//// Raleway
@import 'etc/my-fonts/Raleway400.styl'
@import 'etc/my-fonts/Raleway500.styl'
//@import 'etc/my-fonts/Raleway600.styl'
@import 'etc/my-fonts/Raleway700.styl'
//@import 'etc/my-fonts/Raleway900.styl'

//// Gotham Pro
@import 'etc/my-fonts/Gotham-Pro400.styl'

body {
  font-size: 16px;
  line-height: 19px;
  font-weight 400
  font-family: sans-serif;
  color: #000000;
  font-style: normal;
}