.hero__slider
  position relative
  
  box-sizing: border-box;
  min-height: 250px;
  margin-bottom 26px
  padding-top: 90px;
  
  background-image url('%=static=%content/hero-bg.jpg')
  background-repeat no-repeat
  background-size cover
  .owl-dots
    display flex
    justify-content center
  .owl-dot
    margin-right 15px
    span
      box-sizing border-box
      display block
      width 10px
      height 10px
      
      border 1px solid #FFFFFF
      border-radius 50%
    &.active
      span
        border-width 3px
    &:last-child
      margin-right 0
  .owl-nav
    center-absolute()
    
    left 30px
    right 30px
    
    display flex
    justify-content space-between
    align-items center
    height 50px
  .owl-prev,
  .owl-next
    box-sizing border-box
    width 50px
    height 50px
    
    border 2px solid #C9C9C9 !important
    border-radius 50%
    span
      center-absolute()
      bgs(20px, 20px)
      bgi('back.svg')
      &::before,
      &::after
        display none
  
.hero__slider-slide
  display flex
  flex-direction column
  h2
    font('Raleway', 48px, 700, #FFFFFF)
    
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom 50px
    
    text-align center
  ul
    reset-list()
    
    display flex
    margin-left auto
    margin-right 30px
    li
      margin-right 4px
      a
        bgs(24px, 24px)
        
        text-decoration none
        
        background-color #ffffff
      &:last-child
        margin-right 0
      &:nth-child(1)
        a
          bgi('vk.svg')
      &:nth-child(2)
        a
          bgi('fb.svg')
      &:nth-child(3)
        a
          bgi('od.svg')
      &:nth-child(4)
        a
          bgi('g.svg')
      &:nth-child(5)
        a
          bgi('tw.svg')
      &:nth-child(6)
        a
          bgi('v.svg')
      &:nth-child(7)
        a
          bgi('wa.svg')
          
@media(max-width 1000px)
  .hero__slider
    min-height: 220px;
    
  .hero__slider-slide h2
    font-size: 34px;
    line-height: 38px;
    margin-bottom: 40px;
    
@media(max-width 760px)
  .hero__slider
    padding-top: 62px;
    min-height: 190px;
    
    background-image url('%=static=%content/hero-bg@tablet.jpg')
    
  .hero__slider-slide h2
    font-size: 23px;
    line-height: 27px;
    max-width: 690px;
    
  .hero__slider .owl-prev, .hero__slider .owl-next
    width: 30px;
    height: 30px;
    
  .hero__slider .owl-prev span, .hero__slider .owl-next span
    width: 16px;
    height: 17px;
    background-size: 15px 15px;
    
@media(max-width 480px)
  .hero__slider-slide h2
    max-width: 450px;
    
  .hero__slider .owl-nav
    height: 30px;
    left: 10px;
    right: 10px;
    
  .hero__slider .owl-dots
    margin-top: 15px;
    
  .hero__slider
    margin-bottom: 16px;
    
  .hero__slider .owl-nav
    display none
    
  .hero__slider-slide h2
    margin-bottom: 18px;
    
  .hero__slider-slide ul
    margin-right: auto;
    
  .hero__slider .owl-dots
    margin-top: 26px;
    
  .hero__slider
    padding-top: 42px;
    
  .hero__slider
    background-image url('%=static=%content/hero-bg@mobile.jpg')
          
          
          
          
          
          
          
          
          