.my-slider
  margin-bottom 24px
  &--sell
    .my-slider__wrap
      .slider
        .owl-stage-outer
          border-top-color #FFBABA

.my-slider__wrap
  .slider
    position relative
    .owl-stage-outer
      padding 5px 0
      padding-top 19px
      
      border-top 1px solid #D0FDD6
    .owl-dots
      display flex
      justify-content center
      margin-top 10px
    .owl-dot
      margin-right 15px
      span
        box-sizing border-box
        display block
        width 10px
        height 10px

        border 1px solid #16BD2D
        border-radius 50%
      &.active
        span
          border-width 3px
      &:last-child
        margin-right 0
    .owl-nav
      center-absolute()

      left -20px
      right -20px

      display flex
      justify-content space-between
      align-items center
      height 1px
    .owl-prev,
    .owl-next
      box-sizing border-box
      width 50px
      height 50px
      
      background-color #ffffff !important

      border 2px solid #16BD2D !important
      border-radius 50%
      span
        center-absolute()
        bgs(20px, 20px)
        bgi('back-green.svg')
        &::before,
        &::after
          display none
          
.my-slider__wrap
  padding 0 40px
  
@media(max-width 1685px)
  .my-slider__wrap
    padding 0 15px
    
@media(max-width 979px)
  .my-slider__wrap .slider .owl-dots
    display none
    
@media(max-width 674px)
  .my-slider__wrap .slider .owl-nav
    height: auto;
    position: static;
    justify-content: space-around;
    margin-top: 10px;
    
  .my-slider__wrap
    padding 0
  
  
  
  
  
  
  
  
  
