// components
@import 'blocks/page-content.styl';
@import 'blocks/tit.styl'
@import 'blocks/hero.styl';
@import 'blocks/features.styl';
@import 'blocks/cart.styl';
@import 'blocks/my-slider.styl';
