mixin footer-content(data)
  .footer-content
    div.row-top
      .container
        ul.list1
          each items in [{text:'О компании',icon:'factory'},{text:'Доставка и оплата',icon:'delivery-truck'}]
            li
              a(href="#")
                span
                  != pugHelpers.Icon.call(locals, {iconName: '' + items.icon, className: 'icon'})
                p= items.text
        div.logo
          div.img
            +img('nut.svg')
          div.text
            p МНОГО
            p ОРЕХОВ
        ul.list2
          each items in [{text:'Акции и скидки',sell:true},{text:'Контакты',icon:'phone-book'}]
            li
              a(href="#")
                span
                  if !items.sell
                    != pugHelpers.Icon.call(locals, {iconName: '' + items.icon, className: 'icon'})
                p= items.text
        a.tel(href="tel:+74952087488") +7 (495) 208-74-88
          span
            != pugHelpers.Icon.call(locals, {iconName: 'phone-call', className: 'icon'})
    div.row-middle
      .row
        .container
          ul
            li Вся продукция сертифицирована
              span
                != pugHelpers.Icon.call(locals, {iconName: 'review', className: 'icon'})
            li Мы работаем Пн-Пт 9:00 до 20:00
              span
                != pugHelpers.Icon.call(locals, {iconName: 'clock', className: 'icon'})
      .row
        .container
          ul
            each items in ['Грецкие орехи','Кедровые орехи','Арахис','Миндаль','Фисташки','Фундук','Кешью','Кунжут','Сухофрукты','Мёд']
              li
                a(href="#")= items
    div.row-bottom
      .container
        p.copyright 2018 © Орехи оптом и в рознизу «Много орехов»
        div.dev
          a(href="#")
            p Создание и продвижение сайта
            span
          span

              
              
              
              
              
              
              
              
              
              
                